/* .container {
  border: 5px solid #ffcc5c;
  display: flex;
  flex-direction: row;
} */

.container {
  border: 5px solid #ffcc5c;
  display: flex;

  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
  /* justify-content: center; */
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  /* justify-content: space-evenly; */
}